@charset "utf-8";
/*重置样式*/
*{margin: 0;padding: 0;}
html,body{position:relative;height:100%;}
p,a,ul,li,h1,h2,h3,h4{font-family:"仿宋";}
/*内容*/
.swiper-container {
    width: 100%;
    height: 100%;
}
    /*.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
       /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
    /*}*/
/*page*/
/*======================================page_1*/
.page_1{
	background: url(../images/fb0f0d12d775dd40a1d8e30d9b3a00117f25natalierheariggs298907jpg.jpg);
	background-size: cover;
}
.page_1 h1{
	color: white;
	text-align: center;
	margin-top: 130px;
	font-size: 3.2em;
	letter-spacing: 5px;
	border: 2px solid white;
	background-size:cover; 
	text-shadow:5px 5px 2px rgba(81,91,93,.8);
}
.page_1 img{
	position: absolute;
	bottom: 40px;
	left: 47%;
}
/*======================================page_2*/
.page_2{
	color: white;
	background: url(../images/org_2017053193442_678.jpg);
	background-size: cover;
}
.page_2 h2{
	display: block;
	width: 110px;
	height: 110px;
	/*border: 1px solid black;*/
	border-radius: 50%;
	margin:30px auto;
	background: url(../images/header1.jpg);
	background-position: -10px 0px;
}
.page_2 p{
	border-radius: 10px;
	display: inline-block;
	width: 70%;
	background: #56a36c;
	opacity: 0.8;
	text-align: center;
	font-size: 19px;
	margin-top: 10px;
	margin-left: 15%;
}
.page_2 p img{
	width: 25px;
	height: 25px;
}
/*======================================page_3*/
.page_3{
	background: url(../images/HNCK4530.jpg);
	background-size: cover;
}
.page_3 h2{
	text-align: center;
	display: inline-block;
	line-height: 60px;
	height: 60px;
	color: white;
}
.page_3 ul li{
	position: relative;
	margin-top: 40px;
}
.page_3 ul li .page_3_left{
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	width: 20%;
	height: 50px;
	border: 1px solid #8B8378;
	position: absolute;
	left: 10px;
	top: 0;
}
.page_3 ul li .page_3_right{
	width: 60%;
	height: 50px;
	border: 1px solid #8B8378;
	position: absolute;
	right: 30px;
	top: 0;
}


/*======================================page_4.5.6.7.8*/
.myworks{
	background: url(../images/9a4395478e6b84212b68b274f813db94.jpg);
	background-size: cover;
}
.myworks .main-left h3{
	text-align: center;
}
.myworks .main-left{
	text-align: center;
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	background:url(../images/qq.png);
	background-size: cover;
	color: white;
}
.myworks .main-right{
	width: 80%;
	height: 70%;
	/*border: 1px solid black;*/
	border-radius: 10px;
	position: absolute;
	top: 30px;
	right: 10%;
	background: white;
	box-shadow: 5px 5px 2px rgba(81,91,93,.5);
}
.myworks .main-right figure{
	width: 96%;
	height: 96%;
	margin:2%; 
	border-radius: 10px;
	overflow: hidden;
}
.myworks .main-right figure img{
	width: 100%;
	height: 100%;
}

/*======================================page_9*/
.page_9{
	background: url(../images/pexels-photo-160056.jpeg);
	background-size: cover;
	text-align: center;
	color: white;
}
.page_9 h1{
	font-size: 3em;
	margin-top: 200px;
}












































